{% extends 'base.html.twig' %}

{% block title %}About - AFRK50 {% endblock %}

{% block body %}
 

<div id="content" class=" ">
    <div class="container-fluid p-0">
        
        
        <div class="d-flex w-100 page-cover"   style="flex-direction: column;
         justify-content: space-between;
         align-items: start;min-height: 77vh;;background-image: url({{asset('/assets/img/about-us-header-bg.jpg')}});">
            <div class="container">
<!--<img src="/assets/img/afrk50-logo.png" class="mt-4" alt="" width="176px">-->
            </div>
            <div class="container">
                <div class="page-title">ABOUT US</div>
            </div>
         </div>


         <div class=" custom-page-content">




            



<section class="lets-work-together">
  <div class="">
 

    <div class="widget-bloc"> 
        <div class="container">
            <div class="custom-page-title mt-5 mb-5">
                LET US INTRODUCE OURSELVES 
             </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-muted">
                        Hi, we are Katja and Richard and we are really happy to meet you on our Platform. We know how important it is for you to know who we are and understand our WHY: why are we doing all that? And most importantly to trust us your business, your idea or just your skills!
                    </p>
                    <p class="text-muted">
                        We are two super motivated and passionate entrepreneurs who love and believe in Africa. We grew up in two pretty different countries (Cameroon and Mauritania) but eventually met up in Germany and worked together. Very often our conversations were bringing us back to Africa with the intention to give back. But we could not find any specific tool that would allow us to do it safely and in a structured way with trackable benefits.
                    </p>
    
               </div>
                <div class="col-sm-6">
                    <p class="text-muted">
                        It did not take us long to understand that instead of talking and dreaming we should just be doing. We decided that bringing a tangible solution would be the best decision we could engage in. Through AFRK50 we want people to share their knowledge, we want to encourage entrepreneurship, we want people to access capital and business to meet and create value together.
                    </p>
                    <p class="text-muted">
                        Because we know that Africa is an immense continent of great people and great opportunities, we want this Platform to give you a simple and safe tool to access that potential.
                    </p>
                </div>
            </div>
        </div>




        <div class="row mt-5">
            <div class="col-sm-6 text-end " style="    background-color: #f7f9f9;padding-top: 92px !important;">
                

                <div class="container">
                    
                    <h3 class="" style="color: #68A0B1;
                font-family: Montserrat bold, Sans-serif;
                font-size: 40px;
    font-weight: bold;">MISSION</h3>
                    <p class="text-muted" style="    font-size: 15px;
    width: 80%;
    float: right;">
                        Disrupt the current approach of sustainable growth of Africa and make it easy through skills sharing, business creations, direct investments and financial inclusion.
                    </p>
                </div>


            </div>
            
            <div class="col-sm-6 p-0">
                <img src="/assets/img/shutterstock_1696130578.jpg" class="w-100" />
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6 p-0">
                <img src="/assets/img/vison.jpg" class="w-100" />
            </div>

            <div class="col-sm-6 text-start  " style="    background-color: #f7f9f9;padding-top: 92px !important;">
                

                <div class="container">
                    <h3 class="" style="color: #68A0B1;
                font-family: Montserrat bold, Sans-serif;
                font-size: 40px;
    font-weight: bold;">VISION</h3>

                    <p class="text-muted" style="font-size: 15px;
    width: 73%;
    float: left;">
                        Create a valuable digital ecosystem interconnecting all stakeholders and users taking part in Africa´s potential unveiling. Generate economic opportunities and be the Platform to do business in Africa is what drives us. <br>
                        We intend to generate 1 million jobs within Africa by 2025 with the right Support, Infrastructure and Capital.
                    </p>
                </div>


            </div>
            
           
        </div>



        <style>
            .value-bloc-title{
                color: #68A0B1;
    font-family: Montserrat bold, Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 2px;
            }
        </style>

        <div class="container">
            <div class=" d-flex justify-content-center">
                <h3 class="" style="color: #68A0B1;
                    font-family: Montserrat bold, Sans-serif;
                    font-size: 40px;
                    font-weight: 800;
                    padding: 70px 0px 0px 0px;
                    ">OUR VALUES</h3>
    
            </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class=" text-center card-body my-3" style="    background-color: #f7f9f9;">
                            <h3 class="value-bloc-title" >HUMAN<br>POTENTIAL</h3>
    
                            <p class="text-muted">
                                We strongly believe in every human being´s potential. This potential can be revealed with the right support
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div  class=" text-center card-body my-3" style="    background-color: #f7f9f9;">
                            <h3 class="value-bloc-title">EQUAL <br> OPPORTUNITY</h3>
    
                            <p class="text-muted text-center">
                                Promote equal opportunity to succeed by giving access to specific tools and right contacts in order to build your company
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class=" text-center card-body my-3" style="    background-color: #f7f9f9;">
                            <h3 class="value-bloc-title">COLLECITVE<br>INTELLIGENCE</h3>
    
                            <p class="text-muted">
                                The human potential is a unique strength. The interconnection of different human potentials exponentially increases that same strength and makes the project succeed even more
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class=" text-center card-body my-3" style="    background-color: #f7f9f9;">
                            <h3 class="value-bloc-title">GRATITUDE</h3>
    
                            <p class="text-muted">
                                We got where we are today thanks to the hosting countries and the countries that took part in our upbringing. That social and cultural mix that we are part of and which contributed considerably to our growth is the reason why we always remain grateful.
                            </p>
                        </div>
                    </div>
                    
                </div>


                <div class="row " style="padding: 0px 0px 25px 0px;">
                    <div class="col-sm-12 text-center">
                        <div class=" text-center py-3 my-3" style="    background-color: #f7f9f9;">
                            <h3 class="value-bloc-title">TRANSMISSION</h3>
                            <p class="text-muted">
                                
    There is nothing more rewarding than giving without expecting anything in return
                            </p>
                        </div>
                        
                    </div>
                </div>
                
    
            
        </div>
    </div>  



    <!--<div class="advantages-section">
        <div class="container">
           <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                 <div class="our-advantages-bloc advanages-box">
                    <div class="ad-title">
                       OUR ADVANTAGES
                    </div>
                    <p class="ad-description">
                       Why you should engage with us
                    </p>

                    <ul class="advantages-list aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                       <li class="elementor-icon-list-item">
                       <span class="icon">
                          <i aria-hidden="true" class="fas fa-check"></i> </span>
                       <span class="text">Quick and secure KYC process</span>
                       </li>
                       <li class="elementor-icon-list-item">
                       <span class="icon">
                          <i aria-hidden="true" class="fas fa-check"></i> </span>
                       <span class="text">A one shop Platform to do business in Africa</span>
                       </li>
                       <li class="elementor-icon-list-item">
                       <span class="icon">
                          <i aria-hidden="true" class="fas fa-check"></i> </span>
                       <span class="text">We connect you with the right investors and partners</span>
                       </li>
                       <li class="elementor-icon-list-item">
                       <span class="icon">
                          <i aria-hidden="true" class="fas fa-check"></i> </span>
                       <span class="text"> Leverage remittance and diaspora contribution</span>
                       </li>
                       <li class="elementor-icon-list-item">
                          <span class="icon">
                             <i aria-hidden="true" class="fas fa-check"></i> </span>
                          <span class="text"> Structured follow up of a project from creation to fund raising</span>
                          </li>
                          <li class="elementor-icon-list-item">
                             <span class="icon">
                                <i aria-hidden="true" class="fas fa-check"></i> </span>
                             <span class="text"> Investment opportunities in the fastest growing economies on the Continent</span>
                             </li>
                             <li class="elementor-icon-list-item">
                                <span class="icon">
                                   <i aria-hidden="true" class="fas fa-check"></i> </span>
                                <span class="text"> Strong local knowledge</span>
                                </li>
                                         
                    </ul>
                    

                 </div>
              </div>
           </div>   
        </div>
        
     </div>-->



                
              



  </div>
</section>

         


         </div> 

    </div>

</div>




{% endblock %}


 