
{% extends 'base.html.twig' %}

{% block title %}AFRK50 - Frequently asked questions{% endblock %}

{% block body %}
 

<div id="content" class=" ">
    <div class="container-fluid p-0">
 

         <div class=" custom-page-content">

            <section class=" pt-5 pb-5">
                <div class="container">
                
                    <h1 class="text-center page-title-custom-color">Frequently asked questions</h1> 



                    <div class="accordion mt-5" id="faqQuestions">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                As a company, what do I get by subscribing to AFRK50? 
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                                <p>When subscribing to one of the packages of AFRK50 you have the possibility to access the Platform and benefit from the range of services offered in every package. </p>
                            </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can every person register on AFRK50? 
                            </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                                <p>
                                    Yes everyone can register on the platform AFRK50 provided that they are interested to contribute to the development of the African continent by any ways. AFRK50 is open to anyone willing to connect and explore Africa´s potential through investments, contributions, skills sharing, networking and education. 
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Which products can I sell and buy on AFRK50? 
                            </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                For the legal entity, you can offer or purchase  consulting and coaching/mentoring services and studies 

                                For private people you can: 
                                
                                 share your knowledge around the industry you are an expert in. 
                                
                                book a coach or mentor 
                               </p>
                            </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                                How does the payment process work? 
                            </button>
                            </h2>
                            <div id="c4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                AFRK50 is using well known payment gateways: Stripe, paypal, Mastercard and neo banks like Wecashup. Subscription via card authorisation: During this process, the cardholder’s details are verified, including checking to ensure the cardholder has sufficient funds to pay for the purchase for the selected package before accessing the content of the Platform. Once the payment is processed, the cardholder receives an email with the payment confirmation and another email with the access link to the Platform. If the purchase is declined, it can be because the cardholder made a mistake while entering the data, the card has expired or the cardholder does not have sufficient funds to pay for the purchase. Also, the purchase could be considered suspicious and the payment gateway has flagged this as potential fraud risk. Transaction Settlement for Services : This is the crucial step during which the purchase is processed, and ultimately approval is made to credit an account. When the (neo) bank receives the transaction notification, it forwards it to the appropriate credit card company (Visa, MasterCard, Discover, etc.) and waits for a second confirmation from the cardholder’s bank. Once this is approved, the issuer sends your bank a credit which your bank then uses to deposit a payment into AFRK50 account. Finally, the cardholder is charged and their credit card statement is updated with this charge.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                How can I get in touch with a company? 
                            </button>
                            </h2>
                            <div id="collapseThree5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Once you are a member of AFRK50, you are able to access the contact of the people and company which are listed on the Platform. The service of a direct messaging ( chat/ messages) is available on AFRK50 and can be used by every member.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                                What happens to my personal data? 
                            </button>
                            </h2>
                            <div id="collapseThree6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                We always strive to store and process personal data within European Economic Area (EEA, i.e., the Member States of the European Union, together with Norway, Iceland and Liechtenstein). We transfer personal data outside of the EEA only where it is compliant with the applicable data protection legislation and the means of transfer provide adequate safeguards in relation to your data.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                                I forgot my password, what shall I do? 
                            </button>
                            </h2>
                            <div id="collapseThree7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                If you forget your password, you can very easily reset it by going to the section “ Forgot my password”. The system will send you an email to the indicated email address in your profile. From there, you need to open the email, reset your password and log in AFRK50 once again with the newly created password.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                                Shall I register when I am interested in AFRK50´s products and services? 
                            </button>
                            </h2>
                            <div id="collapseThree8" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Yes, AFRK50 is a paid platform and you need to register on AFRK50 first in order to access the range of services offered there. When you´ve selected a package and paid for it, you will automatically be sent to the “Account details” page where you need to enter all your details. These details are relevant for AFRK50 administrators so that we know who is registered on the Platform. Some of the provided information will also be used for your public profile that all the users of the Platform will be able to access. While providing these data, you are notified what will be used for the public profile.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree9" aria-expanded="false" aria-controls="collapseThree9">
                                I am not a tech person, is there a technical support on the Platform? 
                            </button>
                            </h2>
                            <div id="collapseThree9" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Yes, you can reach us through the chat any time and ask us any technical questions.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree11" aria-expanded="false" aria-controls="collapseThree11">
                                I am not sure whether AFRK50 is exactly what I am looking for, is there a possibility to test it? 
                            </button>
                            </h2>
                            <div id="collapseThree11" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Yes, AFRK50 is offering 14 days to anyone interested to understand what the platform has to offer. You can navigate and explore the Listings of the platform for 14 days for free. After the 14 days trial and request of cancellation from you the payment will be executed.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree12" aria-expanded="false" aria-controls="collapseThree12">
                                Can I upgrade my Package any time in the future? 
                            </button>
                            </h2>
                            <div id="collapseThree12" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Yes AFRK50 gives you the possibility to upgrade your package anytime. You will only need to pay the difference of the 2 packages and access the services of the higher package within the upcoming 7 days.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree13" aria-expanded="false" aria-controls="collapseThree13">
                                How do I do due diligence of a potential customer? 
                            </button>
                            </h2>
                            <div id="collapseThree13" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                AFRK50 is working with a qualified EU firm specialized in Know Your Cutomer Digital Process.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree14" aria-expanded="false" aria-controls="collapseThree14">
                                How do I market my products in the EU? 
                            </button>
                            </h2>
                            <div id="collapseThree14" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Through the AFRK50 platform and its matchmaking process.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree15" aria-expanded="false" aria-controls="collapseThree15">
                                How do I market my products in Africa? 
                            </button>
                            </h2>
                            <div id="collapseThree15" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                Through the AFRK50 platform and locally via AFRK50 country representatives.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree16" aria-expanded="false" aria-controls="collapseThree16">
                                How do I find trustworthy partners in Africa or the EU? 
                            </button>
                            </h2>
                            <div id="collapseThree16" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                AFRK50 acts as your partner and assists you in finding the right partner. Please contact us directly and we will explain and present you the whole process.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree17" aria-expanded="false" aria-controls="collapseThree17">
                                How do I find the support services I need in Africa? 
                            </button>
                            </h2>
                            <div id="collapseThree17" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                                <p>
                                AFRK50 and its country representatives can support you to get the service you are looking for. Please contact us directly and we will explain and present you the whole process.
                               </p>
                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree22" aria-expanded="false" aria-controls="collapseThree22">
                                How can I ensure regulatory compliance in Africa? 
                            </button>
                            </h2>
                            <div id="collapseThree22" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqQuestions">
                            <div class="accordion-body">
                               <p>
                                AFRK50 can recommend regulatory due diligence approaches and provide on the ground training as needed or put you in touch with specialized partner
                               </p>
                            </div>
                            </div>
                        </div>

                        



                    </div> 
            </div>
        </section>
         


         </div> 

    </div>

</div>




{% endblock %}


 