{% extends 'base.html.twig' %}

{% block title %}AFRK50 - General Terms and Conditions{% endblock %}

{% block body %}


<div id="content" class=" ">
    <div class="container-fluid p-0">


        <div class=" custom-page-content">

            <section class="bg-white pt-5 pb-5">
                <div class="container">

                    <h1 class="text-center page-title-custom-color">General Terms and Conditions</h1>

                    <div  >

                        <p class="doc-para">
                            <!-- wp:heading -->
                        </p>


                        <h2 class="doc-titles">General principles </h2>
                        <p class="doc-para">AFRK50 OÜ (reg.no. 14987702) is a company incorporated and existing under
                            the laws of Estonia with its registered office at Järvevana tee 9‐40, Tallinn, Estonia,
                            11314, (“AFRK50”, “we”) and all users (“User”, “you”) of the AFRK50’s services (“Services”)
                            provided through its internet platform www.afrk50.com (“Platform”) agree on the following
                            terms and conditions for the Services. </p>

                        <p class="doc-para">These General Terms and Conditions (“GTC’s”) and the documents referenced in
                            them, set out the terms and conditions the User must meet to use AFRK50’s website. By
                            accessing and using our website, all Users agree to be bound by these GTC’s and – where
                            applicable – any additional agreements regarding the Services (i.e., Subscription Plan) that
                            may be provided by AFRK50. </p>

                        <p class="doc-para">You may use the Platform and the Services only after agreeing with the
                            GTC’s. By disagreeing with the GTC’s or its amendments, you are not entitled to use the
                            Platform and the Services and must terminate it immediately. </p>

                        <p class="doc-para">By accepting these GTC’s, the User confirms to have read and agree to our
                            Privacy Policy. </p>

                        <p class="doc-para">Any adult may register on the Platform and enter into a binding agreement
                            with AFRK50 thereby acknowledging having read these GTC’s and agreeing to abide by all its
                            terms, both as a User and while using the Platform. These GTC’s constitute an agreement
                            between the AFRK50 and the User, which can only be changed with the consent of AFRK50. </p>

                        <p class="doc-para">If you are entering into a binding agreement on behalf of a company,
                            organization, or other legal entity, you represent and warrant that you are authorized to do
                            so and have the authority to bind such legal entity to these GTC’s. In this case these GTC’s
                            shall apply mutatis mutandis to such legal entity. </p>

                        <p class="doc-para">The Platform may only be used to the extent and for the purposes for which
                            it was created and for which similar platforms are normally used. You undertake to use the
                            Platform in accordance with the GTC’s and possible Platform guidance materials. </p>

                        <p class="doc-para">AFRK50 works continuously on expanding the Platform and improving its
                            Services. Therefore, AFRK50 reserves the right to withdraw or amend the Platform, any
                            Service and Subscription Plan, on his sole discretion without notice. AFRK50 cannot be held
                            liable if, for any reason, all or any part of the Platform is unavailable at any time or for
                            any period. From time-to-time AFRK50 may restrict access to some parts of or the entire
                            Platform. In any case AFRK50 will put in best efforts to make the Platform available and up
                            to date. </p>

                        <p class="doc-para">AFRK50 has the right to unilaterally change the GTC’s by publishing a new
                            version of GTC’s on the Platform. AFRK50 may amend the GTC’s in the following cases: </p>
                        <ul>
                            <li>a change in existing legislation or its interpretation</li>
                            <li>a court decision or administrative act binding to AFRK50 to amend the GTC’s has entered
                                into force</li>
                            <li>change of the existing Services, termination of the offer or introduction of a new
                                service</li>
                            <li>significant changes in the technical structure or functionality of the Platform</li>
                            <li>due to suggestions and complaints by the Users</li>
                            <li>the need of enhance data protection or other security measures</li>
                            <li>changes in the AFRK50’s business model, work organization and/or mandate</li>
                            <li>technological developments that allow to improve the user-friendliness, quality and
                                security of the Platform and the Services</li>
                            <li>other unforeseen cases where the amendment of the GTC’s is reasonably justified or which
                                AFRK50 could not consider when establishing the GTC’s. </li>
                        </ul>


                        <h2 class="doc-titles">Access of the Services </h2>




                        <p class="doc-para">To access and use Services, you must register on the Platform, during which
                            you will be asked to
                            provide certain registration details or other information, such as name, date of birth,
                            place of
                            residence, phone number, email etc. Legal entities must provide information related to the
                            company. It is a pre-condition of your use of the Platform that all the information you
                            provide
                            is correct, current, and complete throughout the entire use of the Platform and Services you
                            can
                            decide to register as a “Basic” or as a “Premium”.</p>



                        <p class="doc-para">By registering, you must agree to the GTC’s, which are the prerequisite for
                            using the Services.
                            Upon the acceptance of the GTC’s, the contract between AFRK50 and the User is deemed
                            concluded.</p>



                        <p class="doc-para">You agree that all information you provide to register on our Platform or
                            otherwise, including
                            but not limited to, through the use of any interactive features on the Platform, is governed
                            by
                            our Privacy Policy, which is part of the agreement, and you consent to all actions we take
                            with
                            respect to your information consistent with our Privacy Policy.</p>



                        <p class="doc-para">If you choose, or are provided with, a username, password, or any other
                            piece of information as
                            part of AFK50 security procedures, you must treat such information as confidential, and you
                            must
                            not disclose it to any other person or entity. You also acknowledge that your account is
                            personal to you, and you agree not to provide any other person with access to this Platform
                            or
                            portions of it, using your username, password, or other security information.</p>



                        <p class="doc-para">You undertake to notify us immediately of any misuse of your account, such
                            as unauthorized
                            access to or use of your username or password or any other breach of security. You also
                            agree to
                            ensure that you log out of your account at the end of each session. You should use
                            particular
                            caution when accessing your account from a public or shared computer so that others are not
                            able
                            to view or record your password or other personal information.</p>



                        <p class="doc-para">Once you have successfully registered for a Subscription Plan
                            (“Subscription”), you will be able
                            to access your account with your username and password and use our Services accordingly.
                            Users
                            of Professional and Business Subscription can register a company profile, upload a logo,
                            complete the company description questions, and post URLs to relevant company related
                            websites
                            and media channels.</p>



                        <p class="doc-para">Please note that AFRK50 does not take any responsibility for any external
                            link. If you use or
                            add an external link, you do so in your own responsibility. However, you must make sure that
                            any
                            information accessible through the external and does not pose any threat or harm to any
                            User. If
                            you encounter such a bad external link you are required to report such link to AFRK50.</p>



                        <p class="doc-para">You can post fundraising requests that are only visible to the Users who are
                            registered as part
                            of the AFKR50 crowdfunding network partner. Users that engage as investors must meet the
                            regulations stipulated by the Estonian Financial Supervisory Authority (FSA), or as per the
                            legislation of the country of residence.</p>



                        <p class="doc-para">At this stage, AFRK50 will also offer to you various Services or features
                            that are subject to a
                            fee. Before you sign up to purchase such Services or features, we will provide you with
                            further
                            information about what you will be purchasing, for example, where applicable:</p>


                        <ul>
                            <li>the main characteristics of the Services or features,</li>
                            <li>the term of your Subscription (including any extension),</li>
                            <li>information regarding how to terminate your Subscription,</li>
                            <li>the price and any payment conditions.</li>
                        </ul>



                        <p class="doc-para">If you want to upgrade your Subscription by choosing a Subscription that is
                            subject to a higher
                            fee ("Additional functions and features“) you acknowledge that by pressing the “Buy” button,
                            you
                            will have confirmed that you want to purchase the Additional functions and features that you
                            have selected. Our contractual relationship for that Additional functions and features will
                            be
                            confirmed on the date that AFRK50 sends you an e-mail confirmation of your order.</p>





                        <p class="doc-para">You can also purchase AFRK50 Additional functions and features via AFRK50's
                            Apple iOS app or
                            Google Android app. In this case, AFRK50 remains responsible for the provision of our
                            Service.
                            AFRK50 will provide you with an order confirmation regarding your Subscription Terms.
                            However,
                            if your Subscription is concluded (and must be cancelled or terminated) through Apple /
                            Google,
                            it is a subject to the technical standards and principles established by Apple / Google,
                            over
                            which AFRK50 has no control. As a rule, a purchase via an app store will take place when you
                            click on “Buy now” (or a comparable checkbox) and, when required, you enter your password or
                            touch ID for the app store. Your contractual relationship with Apple / Google will be
                            confirmed
                            on the date that Apple / Google sends you an e-mail confirmation of your order; and Apple /
                            Google will invoice you for any Subscription charges through your Apple / Google account.
                            You
                            will also find in the app store all the essential information that you need about your
                            contractual relationship with Apple / Google. If you purchase a Subscription via the app
                            store
                            that is subject to automatic extension, the Subscription will run for a fixed term, which
                            will
                            automatically extend unless you terminate your Subscription with Apple / Google in
                            accordance
                            with Apple's / Google’s terms and conditions. Please note that Clauses 8.1, 8.4, 6.6 and 7
                            (except 7.4) of these GTC’s will not apply where you have purchased a Subscription via Apple
                            /
                            Google.</p>





                        <p class="doc-para">Please also see Clauses 17 and 18 below for those terms that will apply if
                            you have downloaded
                            our app from Apple or Google. If you have downloaded our app from Apple's / Google’s app
                            store,
                            their terms of service will prevail over these GTC’s if there are any differences between
                            the
                            two which cannot be reconciled.</p>



                        <p class="doc-para">AFRK50 may change the Services:</p>
                        <ul>
                            <li>to reflect changes in relevant laws and regulatory requirements; or

                                to implement minor technical adjustments and improvements, for example to address a
                                security
                                threat (however, these changes will not affect your use of the Services).</li>
                            <li>In addition, although we provide a description of our Services on our website, we may
                                change the
                                main characteristics of our Services from time to time. However, if we do this, we will
                                notify
                                you and you may then contact us to end your Subscription before the changes take effect
                                (and, in
                                relation to an upgrade of additional functions and features), you will receive a refund
                                for the
                                part of the services you have paid for but not received because of the earlier
                                termination of
                                your Subscription).</li>

                        </ul>








                        <p>
                            <h2 class="doc-titles"> Object of your Subscription Plan </h2>
                        </p>


                        <p class="doc-para">Once you have signed up for a Subscription and accepted these GTC’s, AFRK50 will provide you
                        with access to a secured online database over which you will be able:</p>


                        <ul>
                            <li>
                                to list your company and/or yourself and create a profile (“User Profile”). Depending on your
                        Subscription you may create up to three (3) listings:
                                <ul>
                                    <li>one (1) for your company</li>
                                    <li>one (1) event of your company</li>
                                    <li>one (1) job posting</li>
                                </ul>
                            </li>

                            <li>
                                 to market your product, and

                        to enter into contact with other Users, being contacted by other Users and make your User
                        Profile and your product available on the Platform. Strictly for the purpose of exploring
                        legitimate possible business opportunities.
                            </li>
                        </ul>

                         

                       



                        <p class="doc-para">The Services can be accessed from your computer via the internet and through mobile apps on iOS
                        and Android devices (although, in the future, other operating systems may be made available).
                        The AFRK50 Services are marketed based on Subscription and at a price as published on the
                        Platform.</p>







                        <p class="doc-para">The Platform provided by AFRK50 contains "profiles" about AFRK50, its Users and Partners which
                        may contain pictures, videos, podcast, article news and any other type of information made
                        available by the respective User. You can find more information about the types of personal
                        information that are collected and how this information is made available to other Users in our
                        Privacy Policy. In our website you can find those countries in which AFRK50 offers its Services;
                        and it is possible for our Users to search for and contact other members in any of the countries
                        in which we operate.</p>



                        <p class="doc-para">User shall make sure that the Platform meet their needs. Please be aware that while AFRK50 hope
                        that by using our Services you will successfully create business opportunities and/or business
                        relationships with another AFRK50 Users, AFRK50 cannot guarantee that your use of the Services
                        will result in any business success whatsoever.</p>


                         <h2 class="doc-titles">AFRK50 Database and Listing </h2>
                          


                        <p class="doc-para">Once you have registered, you will be asked to create a User Profile and depending on your
                        Subscription you will be able to create listings. All this information will be added into the
                        AFRK50 database (“Database”). Once in our Database, you and your information can be found by
                        other Users and vice versa. Through the search function you can find other Users, projects, job
                        listings etc.</p>



                        <p class="doc-para">Please be informed that AFRK50 cannot make any claims and does not give any guarantees
                        whatsoever about availability of adequate business partners, projects, consultants, products, or
                        any other information whatsoever. The information provided to you through the Platform contains
                        a short description of the User and/or its product along with contact details as provided by the
                        User. Please note that if required, we may limit the number of listings you can post as well as
                        information you can retrieve, to secure our Services as further set out in these GTC’s.</p>



                        <p class="doc-para">Please be aware that although we aim to always make access to Database and Services in general
                        available, we cannot guarantee that the Services will be available 100% of the time.
                        Availability of our Services may be reduced due to any downtime which is due to maintenance and
                        software updates, as well as any periods during which the Service is unavailable via the
                        Internet due to technical or other problems that are beyond AFRK50's control. In order to be
                        able to use the AFRK50 Service fully, you should use up to date (browser) technologies on your
                        mobile device or computer (e.g. enable Java script, cookies, pop-ups). If you use an older
                        operating system or internet service provider, you may find that you only have limited access to
                        the AFRK50 Service.</p>




                        
                        <h2 class="doc-titles">Use, Transfer and Transmission of Data (incl. for advertising
                                purposes)</h2>
                         



                        <p class="doc-para">More information about how we use your personal information and what our obligations are in
                        relation to data protection, you can find in our Privacy Policy.</p>



                        <p class="doc-para">AFRK50 constantly strives to protect you from harassment such as hacker attacks or spam e-mails
                        or business scams. To this end, AFRK50 has developed technical and organizational standards. It
                        is User’s responsibility to familiarize with AFRK50’s security tips before using the AFRK50
                        service and to follow these tips and the user guidelines in Clause 7 below. If AFRK50’s "Safety
                        Team" contacts you in the event of anomalies, you are obliged to cooperate with and respond to
                        immediately if such a request is made. If we recommend actions, you should seriously consider
                        following them and not reject them without serious cause. You should also report problematic
                        content or unethical behavior to AFRK50 through the function “suspicious profile”.</p>



                       
                        <h2 class="doc-titles">Cost and payments </h2>
                         



                        <p class="doc-para">AFRK50 has the right to set fees for the use of Platform by publishing the respective price
                        packages on the Platform: https://afrk50.com/plans-pricing/. To use the Platform, you must
                        choose a paid price package.</p>



                        <p class="doc-para">You undertake to pay AFRK50 for the use of Platform and Services provided in accordance with the
                        price package or according to the fees set out in Platform.</p>





                        <p class="doc-para">Before choosing a paid price package, the first-time User may be able to try the Platform during
                        the trial period of 14 days free of charge. After the end of the trial period, the Subscription
                        can no longer be used. If the User wishes to continue using the Platform, he/she must select a
                        suitable paid price package for him and pay in advance for the next period. If the User has not
                        done so, AFRK50 has the right to close the account and delete the content added to it and
                        terminate the agreement automatically.</p>



                        <p class="doc-para">Unless otherwise agreed, the content of the trial version will be retained for 30 days after the
                        end of the trial period.</p>



                        <p class="doc-para">You can pay via credit card payment. You authorize AFRK50 to debit the credit card or bank
                        account to the extent of all fees payable. You also authorize the AFRK50 to use a third party to
                        process payments.</p>



                        <p class="doc-para">If you sign-up for a Subscription on our Platform, after your initial Subscription’s commitment
                        period (and again after any subsequent subscription period), your Subscription will be
                        automatically extended unless you notify us that you want to terminate your Subscription in
                        accordance with Clause 8. Any automatic extension period of your initial Subscription will be
                        for the term and price you agreed to when you subscribed for this initial Subscription, and
                        which were confirmed to you in the order confirmation you received at that time.</p>



                        <p class="doc-para">You can change your price package on the Platform. The change in the price resulting from such
                        package change is reflected in the payment for next month. The usage possibilities arising from
                        the new paid package, take effect from the beginning of next period.</p>



                        <p class="doc-para">If the User violates its payment obligation for at least 2 weeks, AFRK50 has the right to
                        restrict the User’s access to the Platform and refuse to provide the Services.</p>



                        <p class="doc-para">All fees are presented in euros and without taxes that the AFRK50 is entitled to charge, if
                        applicable. Already paid fees are non-refundable, unless agreed otherwise.</p>


 
                        <h2 class="doc-titles">Withdrawal Policy, Exclusion of the Right to Cancel </h2>
                      





                      
                       <h2 class="doc-titles">Right of Withdrawal </h2>
                         



                        <p class="doc-para">To exercise your right of withdrawal, you must notify us using any of the contact methods
                        detailed below:</p>

                        <p class="doc-para">by e-mail: team@afrk50.com</p>



                        <p class="doc-para">You must also provide us with a clear written statement of your decision of withdrawal the
                        Services. You may use the model cancellation form available below, however, this is not
                        mandatory. If you prefer not to use this form, please make sure that you provide us with the
                        information listed below under Clause 7.3.</p>



                        
                        <h2 class="doc-titles">Effects of Withdrawal </h2>
                       



                        <p class="doc-para">If you withdraw your Services within the 14-day withdrawal period, we will refund to you all
                        payments that we have received from you for the withdrawn Services without undue delay and in
                        any event no later than 14 days from the day on which we were informed of your decision to
                        withdraw your Services. We will provide this refund using the same means of payment that you
                        used for the initial transaction unless you have expressly agreed otherwise; and you will not be
                        charged for this refund.</p>



                        <p class="doc-para">Please make sure that you provide us for a clear identification with the following two
                        indications:</p>



                        <p class="doc-para">the e-mail address registered in your profile or your profile ID.</p>

 
                        <p class="doc-para">Clauses 7.1 to 7.3 do not apply to withdrawal of the Services purchased from Apple via the iOS
                        app or Google via the Android app. Please see Clause 2.8 for further information. Apple / Google
                        may also provide additional mechanisms for you to withdraw your Services. To withdraw your
                        Services purchased from Apple via the iOS app or Google via the Android app, please find their
                        instructions for withdrawal from their webpage.</p>





                       
                        <h2 class="doc-titles">Termination/Extension </h2>
                        





                        <p class="doc-para">You have the right to unilaterally cancel the agreement and/or the Services at any time for any
                        reason by notifying AFRK50 thereof either:</p>



                        <p class="doc-para">by logging in to our website, through your profile: “Account > My Account > “Delete Account”, or

                        in writing, using the contact details provided below in Clause 19.</p>



                        <p class="doc-para">AFRK50 has the right to unilaterally terminate the agreement and/or the Services for any reason
                        by notifying the User thereof by email or via the Platform 30 days before the planned date of
                        termination, after which the agreement and/or Services shall be deemed terminated.</p>



                        <p class="doc-para">AFRK50 has the right to unilaterally terminate the agreement and/or Services immediately,
                        without prior notice, if:</p>


                        <ul>
                            <li>the User has provided false information</li>
                            <li>the User has not used the Services for at least 24 months</li>
                            <li>it turns out that the person who has used the Platform, Services, or the User account on behalf
                        of the User, does not have the right of representation to act on behalf of the User</li>
                            <li>the User has been declared bankrupt or reorganized, as well as if compulsory dissolution or
                        liquidation has been initiated against the User</li>
                            <li>the User intentionally or through gross negligence causes damages to the AFRK50</li>
                            <li>there exists another sufficient reason which requires immediate termination of the agreement</li>
                            <li>Subject to Clauses 8.7and 7, any termination of your Subscription will not take effect until the
                        end of the agreed minimum term (and, as such, you will not be entitled to any refund). However,
                        to make sure that your Subscription does not automatically extend (more on this in Clause 8.7),
                        you must notify us in writing of your wish to terminate before the end of your current
                        Subscription</li>
                            <li>To authenticate your identity and your termination request, you must include the following
                        information in your termination notification</li>
                        <li>the email address registered in your profile, or your username profile ID</li> 
                        </ul>
 

                        <p class="doc-para">Your profile ID and password are assigned to you when you register to our Services (see Clause
                        2.1). You can access these at any time in your online profile in the section entitled “Account &
                        My Profile”. If you terminate your Subscription, this will not automatically result in a
                        termination of your account.</p>



                        <p class="doc-para">If you want to terminate your Subscription because we have told you about an upcoming
                        substantial change to our Services to which you do not agree, your Subscription will end
                        immediately after we receive your termination notice in writing and we will refund you for any
                        portion of the Subscription that we have not provided. If you have purchased your Subscription
                        through Apple / Google, any refund will be made in accordance with Apple's / Google’s own terms
                        as further described in Clause 2.8.</p>



                        <p class="doc-para">Clauses 8.1, 8.4 and 8.7 do not apply to termination of Subscription purchased from Apple via
                        the iOS app or Google via the Android app. Please see Clause 2.8 for further information. Apple
                        / Google may also provide additional mechanisms for you to terminate your Subscription. Please
                        find the instructions for terminating from their webpage.</p>







                        <p class="doc-para">Upon termination of the agreement, AFRK50 shall close the reflective accounts and, unless
                        otherwise agreed, shall delete the content of them 30 days after the termination of the
                        agreement. AFRK50 will not delete any content the retention of which is mandatory under the
                        applicable law.</p>



                        
                        <h2 class="doc-titles">Liability </h2>
                        



                        <p class="doc-para">To the extent permitted by applicable law, AFRK50 shall be liable only at fault (only in case of
                        intent) for its acts or omissions.</p>



                        <p class="doc-para">User is responsible for the accuracy of the information provided during your registration and
                        when completing the AFRK50 Know Your User sheet (the “KYC sheet”). AFRK50 reserves its rights to
                        withdraw from any Subscription or any other business relationship whatsoever with immediate
                        effect if the information provided to AFRK50 proves to be inaccurate or false. To the fullest
                        extent permitted by law, AFRK50 will not be liable for any information provided to you by any
                        other User through the Platform. It is the User’s own responsibility to check the correctness
                        and accuracy of any information received by any other User. If you need to update your profile
                        or registration information, you can generally do this at any time through your profile.
                        However, there is some information that can only be updated by contacting us using the details
                        in Clause 19 (and this will be clear to you at the time).</p>



                        <p class="doc-para">AFRK50 is responsible only for the technical provision of the Services (described in Clause 4).
                        AFRK50 will generally facilitate and enable you to connect with other Users. We cannot, however,
                        guarantee that you will be able to successfully secure a business opportunity or any business
                        dealings because of using the Services.</p>



                        <p class="doc-para">While we expect our Users to use the Services in a professional and respectful way (and in
                        accordance with these GTC’s, AFRK50 is not responsible for any misuse of personal and AFRK50
                        information made available through the Services by its members, or for any other use of the
                        Services by its Users which is contrary to these GTC’s, or any use that is otherwise
                        unauthorized or unlawful. AFRK50 is also not responsible for any misuse of data or information
                        by third parties (i.e., other Users or non-Users) where you have provided the third party with
                        such information.</p>



                        <p class="doc-para"> While AFRK50 works hard to provide a high-quality service, AFRK50 does not guarantee that the
                        Services will always perform perfectly and cannot ensure that the Services will always be
                        uninterrupted, secure, or error-free. AFRK50 is not liable for disruptions that affect the
                        accessibility of the Services where such disruptions are caused by actions or events that are
                        outside AFRK50's control. Furthermore, although AFRK50 will put appropriate technical and
                        organizational security measures in place to protect your personal information, to the fullest
                        extent permitted by law, AFRK50 will not be liable for any unauthorized access by third parties
                        to your personal data (e.g., due to hackers gaining unauthorized access to our database).</p>

 

                        <p class="doc-para"> Except as expressly provided in these GTC’s, AFRK50 exclude all representations, warranties,
                        conditions, and terms (whether express or implied by civil law or otherwise) to the fullest
                        extent permitted by law. To the extent permitted by law, AFRK50 shall not be liable for any
                        losses, lost income, economic damage, or non-pecuniary damage caused to the User, as well as for
                        other indirect, special, consequential, dissuasive, or punitive damages. AFRK50 shall also not
                        be liable for damages and other consequences arising from the following reasons:</p>

                        <ul>
                            <li>platform does not work in some web browsers</li>
                            <li>disputes between the Users</li>
                            <li>for the validity, performance and legality of transactions made by the User with third parties
                        through the Platform</li>
                            <li>processing of personal data added to the Platform by the User in violation of the applicable
                        Data Protection legislation</li>
                            <li>changes in legislation and their interpretation, their effects on the business activities of the
                        Users and the reflection of the respective changes on the Platform</li>
                            <li>force majeure and other errors or disturbances beyond the control of the AFRK50 that prevent the
                        Users from using the Platform and/or Services</li>
                            <li>errors, damages, or settings in the User’s devices that are not suitable for using the Platform</li>
                            <li>delays, interruptions, or failures in the use of Platform or the Services due to maintenance
                        and/or development works</li>

                        <li>loss of the User account or password or falling into the hands of unauthorized third parties or
                        use by third parties</li>
                        <li>As described in Clause 14, these exclusions shall be governed by and construed in accordance
                        with Estonian law, subject to other mandatory laws, which cannot be excluded in your country of
                        residence. If any provision of these disclaimers and exclusions shall be unlawful, void or for
                        any reason unenforceable, then that provision shall be deemed severable and shall not affect the
                        validity and enforceability of the remaining provisions</li>
                        <li>User shall indemnify AFRK50 for any damage caused to AFRK50 by any claims, obligations, actions,
                        complaints, accusations, costs, expenses, etc. (incl. legal expenses) caused by or related to
                        the User’s violation of this agreement</li> 
                        </ul>
 

                        <h2 class="doc-titles">Responsibility and Duties of the User </h2>
                         





                        <p class="doc-para"> If you have signed up for a Subscription, you must pay all charges within the time frames in
                        which they fall due as set out in the Subscription Terms or under the relevant Subscription
                        (e.g. in accordance with the terms agreed with Apple if you purchased your Subscription via
                        Apple as set out in Clause 2.8). If you have chosen to pay your Subscription fee as monthly
                        payments and you fail to pay the agreed fees for more than two successive months, AFRK50 may not
                        provide you with the Services until the payments are provided, and we may take steps to recover
                        your outstanding fees as permitted by law.</p>



                        <p class="doc-para"> As mentioned above, you are responsible for the accuracy of the content that you provide at
                        registration and for all the information you provide about yourself in your profile. By
                        providing us with this information, you agree and confirm that it is truthful and accurate.
                        Intentional and / or fraudulent misrepresentation of your identity, business intentions,
                        including misrepresentations regarding your or the AFRK50’s financial standing, use of another
                        or fictitious identity, can subject you to potential legal liability.</p>





                        <p class="doc-para">By using the Services, you agree that you will only use the Services for commercial reasons. You
                        also agree that you will not use any information about third parties (including other Users)
                        that you receive through the Services for commercial or advertising purposes unless agreed
                        explicitly with the addressed User and/or AFRK50. You are not allowed to use technological
                        methods or processes to automatically download or otherwise access information about other Users
                        in order to use this information outside of the Services (e.g., by a computer program or by
                        copying and pasting the content). You also agree that the use of computer programs for the
                        purpose of automatically reading files of User data (such as crawlers), is prohibited.</p>



                        <p class="doc-para">If you breach these GTC’s or otherwise breach the law in relation to your use of our Services,
                        AFRK50 may be entitled to claim damages in accordance with the Estonian regulations.</p>



                        <p class="doc-para">You will treat e-mails and other messages received via or in relation to the Services
                        confidentially and you will not disclose these messages to third parties without the consent of
                        the sender or good cause. The same rules also apply to any names, phone and fax numbers,
                        home/business addresses, e-mail addresses and/or URLs, or other personal information of other
                        AFRK50 Users.</p>



                        <p class="doc-para">You agree that you will retrieve any messages you receive (as well as any information contained
                        in your profile that you would like to keep) at regular and appropriate intervals and, if
                        required, you will archive this information on your own computer or other data storage system.
                        You understand that AFRK50 may delete any messages stored in your account after a period of 12
                        (twelve) months following the date the message was received, without further notice to you. If
                        you are a User, you understand that all your data relating to your current Subscription and User
                        Profile will be automatically deleted if your User Profile is inactive for 24 (twenty-four)
                        months.</p>



                        <p class="doc-para">By registering for an account at Platform, you agree and represent that you will not misuse the
                        Services and will comply with our conduct requirements. You will not use the Services:</p>


                        <ul>
                            <li>to distribute any immoral or radical political content or photos</li>
                            <li>to distribute any defamatory, offensive, or otherwise illegal content or information</li>
                            <li>to threaten or harass other Users, or to infringe any third-party rights (including personal
                        rights)</li>
                            <li>to engage in or facilitate any fraudulent or unlawful business (e.g., scams, breach of
                        governmental sanctions, etc.)</li>
                            <li>to upload any data which contains a virus (such as infected software); or to upload data which
                        contains a software or other content which is protected by copyright, unless you own the rights
                        in that content or have otherwise obtained the necessary consents</li>
                            <li>in such a manner that your use will adversely affect the availability of offers to other Users</li>
                            <li>to intercept any e-mails / messages or to attempt to intercept them</li>
                            <li>to send any e-mails / messages to Users or use the video chat feature for any purpose other than
                        to communicate, and you will not use the Services to promote or to offer goods or services to
                        other Users except where this is expressly permitted by AFRK50</li>
                            <li>to send any chain letters</li>
                            
                        </ul> 


                        <p class="doc-para">If you do not comply with the conduct requirements as mentioned above in Clauses 10.1 – 10.7 or
                        if you fail to materially comply with any other of the Subscription Term, we may take the
                        following actions:</p>

                            <ul>
                                <li>we may ask you to stop your non-compliant activities (or otherwise send you a warning that your
                        activities do not comply with our conduct requirements)</li>
                                <li>we may delete any content which you have submitted via the Services in breach of any of our
                        conduct requirements</li>
                                <li>we may suspend the provision of the Services to you (in whole or in part) until the issue is
                        resolved (for example, while we investigate your activities)</li>
                                <li>we may terminate the provision of the Services to you if it is clear to us that you are
                        seriously misusing the Services. If we do decide to terminate your Subscription because you have
                        misused the Services, we may refund to you any payment that you have already made to us for any
                        unused portion of the Subscription, that we have not provided. However, we may still also deduct
                        from this refund or charge you a reasonable amount as compensation for the net costs we will
                        incur because of your non- compliance in accordance with this Clause. If you have purchased your
                        Subscription through Apple / Google, any refund will be made in accordance with Apple's /
                        Google’s own terms as further described in Clause 2.8</li>
                                <li>A criminal complaint will be filed in case of suspicion of any criminal offence</li>
                                
                            </ul>

                        

                        <h2 class="doc-titles">Communication</h2>
                         





                        <p class="doc-para">AFRK50 offers its Services online. As such, AFRK50 will generally communicate with its Users
                        using online methods, such as e-mail (e.g., for Subscription confirmations, invoices), or via
                        screen mask in a User's logged-in profile. You can contact us by E-mail or by post, but only if
                        you have any questions relating to your Subscription, your payment for a Subscription, or in
                        relation to the security/encryption of our email communications. As a digital service, our
                        Services are only provided online. Therefore, you can only sign up to, use and subscribe to our
                        Services online.</p>



                        <p class="doc-para">To make sure that we do not receive unauthorized requests (and to protect your account from
                        abuse), please make sure that you provide the following information in any communications you
                        send to us, so we can authenticate that the message has been sent by you:</p>



                        <p class="doc-para">your e-mail address registered in your profile or your profile ID.</p>



                        <p class="doc-para">As mentioned above, your profile ID and password are assigned to you when you register to our
                        Services. You can access these at any time in your online profile in the section entitled
                        “Account and My Profile.</p>



                        <p class="doc-para">Rights of Use and Intellectual Property Rights</p>

 
                        <p class="doc-para">The Platform and any parts and elements thereof (including databases and software, business
                        names, trademarks, trade secrets, domain names, etc.) are and may be protected by intellectual
                        property right of AFRK50, its employees or partners.</p>



                        <p class="doc-para">By using our Service, you understand and agree that AFRK50 is the owner of all the rights in and
                        related to the Services, including any rights of reproduction, distribution and processing, all
                        copyrights, as well as the right of the intangible transmission and reproduction of the AFRK50
                        website and of the content included within it. The use of any program, content, materials,
                        trademarks as well as commercial names contained within the Services is only permitted for the
                        purposes set out in these GTC’s.</p>



                        <p class="doc-para">During the validity of the agreement, AFRK50 allows the Users to use the functionality of the
                        Platform for their internal needs in accordance with the terms of the agreement for the usual
                        purpose which the Platform is intended. AFRK50 does not grant any other licenses or rights to
                        the User, and the User does not acquire any intellectual property rights of the Platform.</p>



                        <p class="doc-para">By creating an account, you grant AFRK50 the right to use (including to host, store, use, copy,
                        display, reproduce, adapt, edit, publish, modify or distribute) any information you make
                        available on the Services (including any information you include in your profile) for the
                        purposes of providing the Services to you and other Users.</p>



                        <p class="doc-para">You understand that AFRK50 has the right (but not the obligation) at its sole discretion to
                        refuse to post, or to remove, any information that you make available on the Services; and that
                        we have the right to change, condense or delete such content. For example, we may remove any
                        content that violates these GTC’s or is otherwise objectionable.</p>



                        <p class="doc-para">We respect the intellectual property of others, and we expect our Users to do the same. If you
                        believe that any content that you see on our Services has been (or is being) used in a way which
                        is an infringement of a third party's rights, please contact us using the contact details below
                        (or via any other reasonable means of communication).</p>

                        <h2 class="doc-titles">Legal remedies of AFRK50 </h2>
                        





                        <p class="doc-para">AFRK50 is not obliged to check the content added by the Users to the Platform as well as User’s
                        actions on the Platform. Also, AFRK50 is not obliged to monitor the activities of the Users or
                        the information or the content the Users add to or transmit to the Platform.</p>



                        <p class="doc-para">If the User violates the agreement, good practices or legislation in force on the Platform,
                        AFRK50 has the right to:</p>

                            <ul>
                                <li>eliminate violation or illegal content</li>
                                <li>demand termination of the breach and bring the conduct or content into conformity with the
                        agreement, good practice or legislation</li>
                                <li>temporarily block the User or User’s access to the Platform or any part thereof, including
                        temporarily closing the User Account</li>
                                <li>restrict the User or User’s rights of use</li> 
                            </ul> 

                        <h2 class="doc-titles">Applicable law and settlement of disputes </h2>
                         
                        <p class="doc-para">These GTC’s shall be governed by and construed in accordance with the legislation in force in
                        the Republic of Estonia.</p>



                        <p class="doc-para">If you are not satisfied with the activities of AFRK50, you have the right to submit a complaint
                        to AFRK50. Parties shall resolve disagreements through negotiations. Other disputes between the
                        User and AFRK50 in connection with the agreement will also be resolved first through
                        negotiations.</p>
 

                        <p class="doc-para">If settlement of a complaint or other dispute through negotiations fails, the dispute will be
                        settled in Harju County Court, Estonia.</p>



                         <h2 class="doc-titles">Your legal rights</h2>
                        



                         <p class="doc-para">You are entitled for the Services to be as described, fit for purpose, and of satisfactory
                        quality. If you purchase a Subscription and the content that we provide to you is faulty, you
                        are entitled to a repair or replacement; or, if the fault cannot be fixed in a reasonable time
                        and without significant inconvenience, you may be entitled to a full or partial refund. If you
                        can show that the fault has damaged your device and we have not used reasonable care and skill,
                        you may be entitled to a repair or compensation.</p>


                        <h2 class="doc-titles">Miscellaneous </h2>
                         


                        <p class="doc-para">AFRK50 may use third-party service providers and agents, including entities belonging to our
                        group, to help us provide the Services to you.</p>



                        <p class="doc-para">Should any provision of the Subscription Terms be or become invalid, or should they be
                        incomplete, it shall not affect the validity of the remaining content of the Subscription Terms.</p>





                        <p class="doc-para">You can download the GTC’s at any time and free of charge as PDF file.</p>



                        <p class="doc-para">We will not automatically store a copy of your Subscription Terms with AFRK50. As such, you
                        should save a copy on your computer, or otherwise store a copy of your Subscription Terms at the
                        time your contract is concluded. These GTC’s are accessible on our website and our app; and we
                        will provide you with a copy of the then-current GTC’s by email in your confirmation email when
                        you register for a Subscription.</p>



                        <p class="doc-para">You may not assign or sub-contract any of your rights or obligations under the Subscription
                        Terms to any third party unless we agree in writing.</p>



                        <p class="doc-para">We may assign, transfer or sub-contract any of our rights or obligations under the Subscription
                        Terms to any third party at our discretion. However, where we have engaged a third party to
                        perform part of the contract with you, we remain liable towards you for the full performance of
                        our agreement and for the performance by the third party.</p>





                        <p class="doc-para">Additional Terms which apply if you have downloaded our app from Apple's App Store</p>



                        <p class="doc-para">This section contains additional terms that apply to you if you have downloaded our app from
                        Apple's App Store.</p>



                        <p class="doc-para">With respect to the relationship between AFRK50 and Apple, the responsibility for our app is
                        allocated as follows:</p>



                        <p class="doc-para">These GTC’s are between you and AFRK50. These GTC’s are not between you and Apple.</p>



                        <p class="doc-para">AFRK50, not Apple, is solely responsible for our app and its content. Our responsibilities and
                        liabilities to you are explained in the other sections of these GTC’s.</p>



                        <p class="doc-para">Apple has no obligation to provide any maintenance or support services for our app.</p>



                        <p class="doc-para">AFRK50, not Apple, is responsible for any product warranties in relation to our app.</p>



                        <p class="doc-para">If our app does not conform to any applicable warranty, you may notify Apple, and - if you have
                        paid a purchase price for your Subscription - Apple will refund you that purchase price. Apple
                        has no other warranty obligation in respect of our app. Any other claim that you might have in
                        relation to our app is our sole responsibility (and not Apple's) and will be determined in
                        accordance with applicable law and these GTC’s.</p>



                        <p class="doc-para">AFRK50, not Apple, is responsible for addressing any claim by you or a third party relating to
                        our app, or your use or possession of our app. This includes:</p>


                            <ul>
                                <li>product liability claims</li>
                                <li>any claim that our app does not comply with any applicable legal or regulatory requirement</li>
                                <li>any claims arising under consumer protection, privacy, or similar laws</li>
                                <li>If a third party claims that our app, or your use or possession of our app, infringes that third
                        party’s intellectual property rights, we, not Apple, will be solely responsible for the
                        investigation, defense, settlement, and/or discharge of any such claim</li>
                                <li>If you downloaded our app from Apple's App Store, you also represent and warrant that:

                                    <ul>
                                        <li>you are not located in a country that is subject to a U.S. Government embargo, or that has been
                        designated by the U.S. Government as a “terrorist supporting” country; and</li>
                                        <li>you are not listed on any U.S. Government list of prohibited or restricted parties.</li>
                                        <li>You must comply with any applicable third party terms when using our app (for example, you must
                        not be in violation of your wireless data service terms when using our app).</li>
                                        <li>You must use our app in accordance with the Usage Rules in the current Apple's App Store Terms
                        of Service.</li>
                                        <li>You will only use our app on an Apple-branded device</li>
                                    </ul>
                                </li>
                                <li>Additional Terms which apply if you have downloaded our app from Google Play</li>
                            </ul>
                        
  


                        





                            <p class="doc-para">This section contains additional terms that apply to you if you have downloaded our app from
                        Google Play.</p>



                        <p class="doc-para">With respect to the relationship between AFRK50 and Google, the responsibility for our app is
                        allocated as follows:</p>



                        <ul>
                            <li>These GTC’s are between you and AFRK50. These GTC’s are not between you and Google</li>
                            <li>AFRK50, not Google, is solely responsible for our app, its content, and our Service. Our
                        responsibilities and liabilities to you are explained in the other sections of these GGTC’s.
                        Google has no obligation or liability to you with respect to our app or these GTC’s</li>
                            <li>You should contact us, not Google, if you have any problems when using our app, or if you want
                        to let us know about any errors or performance issues with our app</li>
                            <li>If you have downloaded our app from Google Play, you must also use our app in accordance with
                        the current Android Market Terms of Service</li> 
                        </ul>

                         


                        <hr>


                        <p class="doc-para">Contact Us</p>

                        <p class="doc-para">By post: Järvevana tee 9‐40, Kesklinna district, Tallinn, Harju County, 11314, Estonia</p>

                        <p class="doc-para">By e-mail: team@afrk50.com</p>


                    </div>









                </div>
            </section>



        </div>

    </div>

</div>




{% endblock %}