{% extends 'base.html.twig' %}

{% block title %}AFRK50 - Imprint {% endblock %}

{% block body %}
 

<div id="content" class=" ">
    <div class="container-fluid p-0">
 

         <div class=" custom-page-content">

            <section class="bg-white pt-5 pb-5">
                <div class="container">
                
                    <h1 class="text-center page-title-custom-color">Imprint</h1> 
 

                    <h3>Company</h3> 
        
                    <p>AFRK50 OÜ (Estonian registry code 14987702)</p>  
        
                    <h3>Office</h3> 
        
                    <p>Järvevana tee #9-40, 11314, Tallinn, Estonia </p>
        
                    <h3>How to contact us: </h3>                             
        
                    <strong>Email</strong> :	team@afrk50.com 
                
            </div>
        </section>
         


         </div> 

    </div>

</div>




{% endblock %}


 