<form method="post" action="{{ path('student_info_delete', {'id': student_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_info.id) }}">
    <button class="btn">Delete</button>
</form>
