<form method="post" action="{{ path('listing_reports_delete', {'id': listing_report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ listing_report.id) }}">
    <button class="btn btn-sm btn-danger">Delete</button>
</form>
