<!--
<ul class="nav">
	<li>
		<a class="m-auto" href="{{ path('my_listing_index') }}">My Listings</a>
	</li>
	<li>
		<a class="m-auto" href="{{ path('my_promoted_items_index') }}">Promotions</a>
	</li>
	<li>
		<a class="m-auto" href="{{ path('my_bookmarks_index') }}">BookMarks</a>
	</li>

	<li>
		<a class="m-auto" href="{{path('profile_route')}}">Account details</a>
	</li>
	<li>
		<a class="m-auto" href="/logout">Logout</a>
	</li>
</ul> -->